@import url(https://unpkg.com/mockman-js@latest/dist/style.css);
@import url('./Pages/VideoListingPage/VideoListingPage.css');
.game-plex-app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 1fr 5rem;
	grid-template-areas:
		'navbar'
		'main-content'
		'footer';
	margin: auto;
	min-height: 100vh;
	max-height: 100%;
	width: 100%;
}

.app-main-content {
	position: relative;
	grid-area: main-content;
}

.app-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
}

.btn-link {
	cursor: pointer;
}

.width-100 {
	width: 100%;
}

.not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media screen and (max-width: 768px) {
	.game-plex-app {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 14rem 1fr 5rem;
		grid-template-areas:
			'navbar'
			'main-content '
			'footer  ';
		margin: auto;
		height: 100vh;
		width: 100%;
		max-width: 170rem;
	}
}
